.container {
  position: absolute;
  top: 0;
  left: 100px;
  right: 90px;
}

.playingTime {
  position: absolute;
  font-size: 10px;
  left: 0;
  top: 0;
  line-height: 30px;
  text-align: center;
  width: 25px;
}

.songTime {
  position: absolute;
  font-size: 10px;
  right: 0;
  top: 0;
  line-height: 30px;
  text-align: center;
  width: 25px;
}
